[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "elzip"]
	path = external/elzip
	url = https://github.com/Valor760/11Zip.git
[submodule "external/imgui-dialog"]
	path = external/imgui-dialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
